body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  background-color: #c7c7c7;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Georgia', serif; /* Good font for titles */
  font-size: 2.5em; /* Larger font size for emphasis */
  font-weight: bold; /
}
h2,
h3 {
  color: #2c3e50;
  font-family: "Times New Roman", Times, serif; /* New font for titles */
  font-weight: bold; /* Added font weight */
  font-style: italic; /* Added font style */
}

p {
  line-height: 1.6;
  margin: 10px 0;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  margin: 10px 0;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.header,
.footer {
  text-align: center;
  padding: 20px 0;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  width: 48%;
  border-radius: 10px;
}

pre {
  background-color: #ededed;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace; /* This changes the font */
  color: #000000; /* This makes the text black */
}
